.actionBtn {
  float: left;
  position: absolute;
  left: calc(50% - 28px);
  bottom: 10px;
  z-index: 1000;
  color: #ffffff;
}

.helpBtn {
  float: left;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

.locInfo {
  float: left;
  text-shadow: 2px 2px 2px #272727;
  color:#fff;
  position: absolute;
  top: 10px;
  right: 1px;
  z-index: 1000;
  border:1px solid #fff;
  padding:3px;
  cursor: pointer;
}

.snapshot {
  width: 100%;
}

.imgResult {
  opacity: 0.5;
  width: 100%;
  height: auto;
}
