<ly-toolbar position="static" bg="primary" [elevation]="1">
    <h6 lyTyp="title" style="flex-grow: 1">{{title}}</h6>
    <button color="primary:contrast" ly-button appearance="icon" (click)="dialog.close(0);">
        <ly-icon>close</ly-icon>
    </button>
</ly-toolbar>
<div ly-dialog-content>
    <ly-grid container [spacing]="8">
        <ly-grid item col="12 12@XSmall" *ngIf="!fields" style="margin-top:10%;">
            <button [withClass]="classes.button" type="button" ly-button>
                <ly-icon>hourglass_empty</ly-icon>
                <span [className]="classes.labelAfter">Harap tunggu...</span>
            </button>
        </ly-grid>
        <ly-grid item col="12 12@XSmall" *ngIf="fields">
            <!-- <app-abstract-form [fields]="fields" [mode]="0" (onSubmit)="onSubmit($event)" [data]="data">
            </app-abstract-form> -->
            <form [formGroup]="genForm" (ngSubmit)="onSubmit()">
                <div *ngFor="let f of fields">
                    <div [ngSwitch]="f.type">
                        <div *ngSwitchCase="'text'">
                            <ly-field appearance="outlined" fullWidth>
                                <input lyNativeControl type="text" [placeholder]="f.label" [formControlName]="f.key">
                                <ly-hint></ly-hint>
                                <ly-error>Wajib diisi</ly-error>
                            </ly-field>
                        </div>
                        <div *ngSwitchCase="'textarea'">
                            <ly-field appearance="outlined" fullWidth>
                                <textarea lyNativeControl [placeholder]="f.label" [formControlName]="f.key">
                                                    </textarea>
                            </ly-field>
                        </div>
                        <div *ngSwitchCase="'number'">
                            <ly-field appearance="outlined" fullWidth>
                                <input lyNativeControl type="number" [placeholder]="f.label" [formControlName]="f.key">
                                <ly-hint></ly-hint>
                                <ly-error>Wajib diisi</ly-error>
                            </ly-field>
                        </div>
                        <!-- <div *ngSwitchCase="'textdate'">
                            <ly-field appearance="outlined" fullWidth>
                                <input (click)="pickDate = true" lyNativeControl [placeholder]="f.label"
                                    [formControlName]="f.key">
                                <ly-hint></ly-hint>
                                <ly-error>Wajib diisi</ly-error>
                                <div *ngIf="pickDate">
                                    <owl-date-time-inline (ngModelChange)="handleDate($event)"
                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="pickDateModel"
                                        [pickerType]="'calendar'">
                                    </owl-date-time-inline>
                                </div>
                            </ly-field>
                        </div> -->
                        <div *ngSwitchCase="'textdate'">
                            <ly-field appearance="outlined" fullWidth>
                                <!-- <input (click)="pickDate = true" lyNativeControl [placeholder]="f.label"
                                    [formControlName]="f.key"> -->
                                    <input [owlDateTimeTrigger]="tPicker1" [owlDateTime]="tPicker1" lyNativeControl
                                    [placeholder]="f.label" [formControlName]="f.key">
                                <ly-hint></ly-hint>
                                <ly-error>Wajib diisi</ly-error>
                                <owl-date-time [pickerType]="'calendar'" #tPicker1></owl-date-time>
                            </ly-field>
                        </div>
                        <div *ngSwitchCase="'texttime'">
                            <ly-field appearance="outlined" fullWidth>
                                <input [owlDateTimeTrigger]="tPicker2" [owlDateTime]="tPicker2" lyNativeControl
                                    [placeholder]="f.label" [formControlName]="f.key">
                                <ly-hint></ly-hint>
                                <ly-error>Wajib diisi</ly-error>
                                <owl-date-time [pickerType]="'timer'" #tPicker2></owl-date-time>
                            </ly-field>
                        </div>
                        <div *ngSwitchCase="'dropdown'">
                            <ly-field appearance="outlined" *ngIf="f.option.length" fullWidth>
                                <ly-select [placeholder]="f.label" [formControlName]="f.key">
                                    <ly-option *ngFor="let opt of f.option" [value]="opt.value">{{opt.text}}
                                    </ly-option>
                                </ly-select>
                                <ly-hint></ly-hint>
                                <ly-error>Wajib diisi</ly-error>
                            </ly-field>
                        </div>
                        <div *ngSwitchCase="'radio'">
                            <br />
                            <ly-radio-group [formControlName]="f.key">
                                <span>{{f.label}}</span><br />
                                <ly-radio color="primary" *ngFor="let opt of f.option" [value]="opt.value">{{opt.text}}
                                </ly-radio>
                            </ly-radio-group>
                        </div>
                        <div *ngSwitchCase="'selectarea'">
                            <ng-select groupBy="ParentDescription" [items]="f.option" bindLabel="Description"
                                bindValue="AreaCode" [loading]="areaLoading" [placeholder]="f.label"
                                [formControlName]="f.key">
                                <ng-template ng-optgroup-tmp let-item="item">
                                    <span style="font-weight: bold;color:#000;">{{item.ParentDescription}}</span>
                                </ng-template>
                            </ng-select>
                        </div>
                        <div *ngSwitchCase="'select'">
                            <ng-select [placeholder]="f.label" [items]="f.option" bindLabel="text" bindValue="value"
                                [formControlName]="f.key">
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div *ngIf="files.length>0">
                    <br />
                    <div *ngFor="let f of files" style="float: left;">
                        <button type="button" style="margin: 10px;" size="small" outlined (click)="windowOpenDataUrl(f)"
                            ly-button color="primary">
                            <ly-icon>attachment</ly-icon>
                            {{ f.name}}
                        </button>
                        <span class="badge1" data-badge="x" (click)="deleteFile(f);fileInput.value=null;"></span>
                    </div>
                </div>
                <div *ngIf="message"><br />{{message}}</div>
                <div [withClass]="classes.btnWrapper" style="position: relative;">
                    <button type="button" [withClass]="classes.button" ly-button outlined color="primary" (click)="fileInput.click()">
                        <ly-icon>contacts</ly-icon>&nbsp;Upload KTP (Max 1Mb)
                    </button>
                    <input [withClass]="classes.uploadBtnFile" type="file" #fileInput name="empFile"
                        (change)="readFile($event)" accept="image/jpg,image/jpeg,image/png,application/pdf" multiple />
                </div>
                <button [withClass]="classes.button" ly-button bg="primary">
                    <ly-icon>check</ly-icon>
                    <span [className]="classes.labelAfter">Simpan</span>
                </button>
            </form>
        </ly-grid>
    </ly-grid>
</div>