<div style="margin: 6px 6px 6px 6px;">
  <h1 lyTyp="display1" gutterBottom>8 Riwayat Absen</h1>
  <ly-grid container [spacing]="8" style="margin-bottom:18px;" *ngIf="data">
    <ly-grid item col="3 12@XSmall" *ngFor="let i of data">
      <ly-card>
        <ly-card-content>
          <h2 lyTyp="headline" gutterBottom>{{i.AbsentDate}}</h2>
          <ly-grid container [spacing]="8">
            <ly-grid item col="8">
              <div [className]="classes.status">
                Masuk <span [className]="classes.statusData">{{i.ClockIn}}</span>
              </div>
              <div [className]="classes.status">
                Keluar <span [className]="classes.statusData">{{i.ClockOut}}</span>
              </div>
            </ly-grid>
            <ly-grid item col="4" style="text-align: right;">
              <button (click)="showEdit(i)" ly-button appearance="miniFab" raised bg="primary"
                *ngIf="i.ClockOut==='-Belum Absen-'">
                <ly-icon>edit</ly-icon>
              </button>
              <!-- <button (click)="showEdit(i)" ly-button appearance="miniFab" raised bg="primary"
                *ngIf="i.ClockIn ==='-Belum Absen-' || i.ClockOut==='-Belum Absen-'">
                <ly-icon>edit</ly-icon>
              </button> -->
            </ly-grid>
          </ly-grid>
          <!-- <div [className]="classes.status">
            Masuk <span [className]="classes.statusData">{{i.ClockIn}}</span>
          </div>
          <div [className]="classes.status">
            Status Lokasi
            <span
              [style.color]="i.CiStatus === 'Valid' ? '#05ab26' :i.CiStatus === '-' ? '#203072' : '#cc0404'">{{i.CiStatus}}</span>
          </div>
          <br />
          <div [className]="classes.status">
            Keluar <span [className]="classes.statusData">{{i.ClockOut}}</span>
          </div>
          <div [className]="classes.status">
            Status Lokasi
            <span
              [style.color]="i.CoStatus === 'Valid' ? '#05ab26' :i.CoStatus === '-' ? '#203072' : '#cc0404'">{{i.CoStatus}}</span>
          </div> -->

        </ly-card-content>
      </ly-card>
    </ly-grid>
  </ly-grid>
</div>