<block-ui>
  <div ly-paper bg="background">
    <ly-toolbar position="static" bg="primary" [elevation]="3">
      <button ly-button color="primary:contrast" appearance="icon" (click)="drwMain.toggle()">
        <ly-icon>menu</ly-icon>
      </button>
      <h6 lyTyp="title" [withClass]="classes.grow" style="padding-left: 10px;">
        <a routerLink="/main/anchor" class="nav-link">
          <img src="assets/img/logo.png" alt="" title="acst-logo">
        </a>
      </h6>
      <h6 *ngIf="credential" style="text-align:right;padding-right: 10px;width: 30%;white-space: pre-wrap;word-wrap: break-word;">
        {{credential.quickProfile.FullName}}
      </h6>
      <button *ngIf="credential" ly-button color="primary:contrast" appearance="icon" [lyMenuTriggerFor]="menu">
        <ly-avatar>
          <img alt="credential.Username" [src]="profilePhoto ? profilePhoto:'assets/img/person-icon.png'">
        </ly-avatar>
      </button>
      <ng-template #menu let-M>
        <ly-menu [ref]="M">
          <button ly-button ly-menu-item *ngFor="let menu of sidemenus" (click)="goTo(menu.Path, menu.Text)">
            <ly-icon [withClass]="classes.iconSize">{{menu.Icon}}</ly-icon>&nbsp;{{ menu.Text }}
          </button>
        </ly-menu>
      </ng-template>
    </ly-toolbar>
    <ly-drawer-container [withClass]="classes.drawerContainer" [class.drawerContainerMobile]="mobileQuery.matches && menus.length">
      <ly-drawer #drwMain="lyDrawer" ly-paper [opened]="!mobileQuery.matches" position="before"
        [mode]="mobileQuery.matches ? 'over' : 'side'" width="265px" [hasBackdrop]="mobileQuery.matches ? true : false"
        bg="background:primary">
        <div style="margin: 0px 5px 0px 5px;">
          <!-- <ly-field fullWidth>
            <button ly-button appearance="icon" lyPrefix>
              <ly-icon>search</ly-icon>
            </button>
            <input lyNativeControl placeholder="Search" type='text' id="filter" #filter
              (keyup)="tree.treeModel.filterNodes(filter.value)">
          </ly-field>
          <div style="margin-left: 10px;" class="tree">
            <tree-root #tree [nodes]="nodes">
              <ng-template #treeNodeTemplate let-node let-index="index">
                <span (click)="goTo(node.data.path, node.data.name);"
                  style="font-size:18px;margin:5px;">{{node.data.name}}</span>
              </ng-template>
            </tree-root>
          </div> -->
          <ly-paper>
            <ly-list>
              <button class="side-button" *ngFor="let node of nodes" (click)="goTo(node.path, node.name);" ly-list-item>
                <ly-icon class="side-button" ly-list-icon>{{node.icon}}</ly-icon>
                <span ly-line>{{node.name}}</span>
              </button>
            </ly-list>
          </ly-paper>
        </div>
      </ly-drawer>
      <ly-drawer-content id="main-el" [withClass]="classes.drawerContentArea"
        [@routerTransition]="page.activatedRouteData.state">
        <router-outlet #page="outlet"></router-outlet>
      </ly-drawer-content>
    </ly-drawer-container>

    <ly-toolbar *ngIf="menus.length" position="static" [elevation]="3" class="menuDown"
      [class.menuDesktop]="!mobileQuery.matches">
      <ly-grid container [spacing]="2" style="text-align: center;padding: 0px !important;">
        <ly-grid item col *ngFor="let menu of menus" routerLinkActive="active-link">
          <button [routerLink]="menu.Path" (click)="goTo(menu.Path, menu.Text)" routerLinkActive="active-link">
            <span>
              <ly-icon style="font-size:2.5em;">{{menu.Icon}}</ly-icon>
            </span><br />
            <span style="font-size:3vw;font-weight: bold;">{{menu.Text}}</span>
          </button>
        </ly-grid>
      </ly-grid>
    </ly-toolbar>
  </div>
</block-ui>