<h4 ly-dialog-title gutterBottom>{{title}}</h4>
<div ly-dialog-content>
  <p lyTyp="body2" color="text:secondary" [innerHTML]="data.Message" (click)="dialogRefInfo.close()">
  </p>
</div>
<ly-grid container justify="center" ly-dialog-actions>
  <button [withClass]="classes.button" ly-button [bg]="data.err ? 'warn' : 'grind'" (click)="dialogRefInfo.close(1)">OK</button>
  <button [withClass]="classes.button" ly-button outlined color="warn" (click)="dialogRefInfo.close(0)" *ngIf="confirmationMode">BATAL</button>
</ly-grid>