<!-- <ly-toolbar position="static" bg="primary" [elevation]="3">
    <h6 lyTyp="title" style="flex-grow: 1">Uploader</h6>
    <button color="primary:contrast" ly-button appearance="icon" (click)="closeDialog();">
        <ly-icon>close</ly-icon>
    </button>
</ly-toolbar>
<div ly-dialog-content>
    <ly-grid container [spacing]="8" style="margin-top:10px;">
        <ngx-table selectRow="true" globalSearchEnabled="true"
        [data]="data" [columns]="columns" #table>
        </ngx-table>
    </ly-grid>
</div> -->
<!-- <app-maintain-tpl [addButton]="false" [columns]='columns' [data]='data' [objectData]="'Uploader'"
    (actionClickEvent)="receiveEvent($event)" (actionAddEvent)="receiveAddEvent()"></app-maintain-tpl> -->