<div style="margin: 6px 6px 6px 6px;">
    <h1 lyTyp="display1" gutterBottom *ngIf="objectData">Maintain {{objectData}}
        <button ly-button outlined color="primary" size="small" (click)="sendAdd()">
          <ly-icon>add</ly-icon>Tambah baru
        </button>
    </h1>
    <ly-grid container>
      <ly-grid item col="12 12@XSmall">
        <div [className]="classes.table">
          <form style="padding: 0 10px 0 10px;">
            <ly-field fullWidth>
              <input lyNativeControl placeholder="Search" type='text' (input)="onChange($event)">
              <button ly-button appearance="icon" lySuffix>
                <ly-icon>search</ly-icon>
              </button>
            </ly-field>
          </form>
          <ngx-table (event)="sendAction($event)" selectRow="true" clickEvent="true" globalSearchEnabled="true"
            [data]="data" [columns]="columns" #table>
          </ngx-table>
        </div>
      </ly-grid>
    </ly-grid>
  </div>